.container {
    width: 100%;
    max-width: 157.4rem;
    /* 1574px */
    margin: 0 auto;
    padding-left: 10rem;
    /* 100px */
    padding-right: 10rem;
    /* 100px */
}

/* 반응형 패딩 */
@media (max-width: 1024px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}