.skeleton {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,
            rgba(150, 150, 150, 0.1) 25%,
            rgba(150, 150, 150, 0.2) 37%,
            rgba(150, 150, 150, 0.1) 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}

.circle {
    border-radius: 50%;
}

.rect {
    border-radius: 8px;
}

.title {
    width: 60%;
    height: 3rem;
    margin-bottom: 2rem;
    border-radius: 4px;
}

.text {
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.75rem;
    border-radius: 4px;
}

.button {
    width: 160px;
    height: 48px;
    border-radius: 24px;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}